
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>function</title>
</head>
<body>
    <div style="height:200px;">
    <h1>Example1: Function javascript phép nhân</h1>
    <div> 
        <div id="function">

        </div>
        <script>
            function myFunction(x, y) {
                return x * y;
            }
            document.getElementById("function").innerHTML ="Kết quả hàm là "+ myFunction(3, 5);
        </script>
    </div>
    <h1>Example2: Giải phương trình X^2+3x-1=0</h1>
    <div>
        <div id="example2"></div>
        <script>
            function example2(x) {
                return (2*x*x)+3*x+1
            }
            document.getElementById("example2").innerHTML = example2(-1);
        </script>
    </div>
    </div>
</body>
</html>
