
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>realtime</title>
</head>
<body>
    <button onclick="myFunction()">Click Here</button>

    <div id="demo"></div>

    <script>
        function myFunction() {
            var greeting;
            var time = new Date().getHours();
            if (time < 10) {
                greeting = "Good morning";
            } else if (time < 20) {
                greeting = "Good day";
            } else {
                greeting = "Good evening";
            }
            document.getElementById("demo").innerHTML = "Bây giờ là buổi" + greeting;
        }
    </script>
    <div>
        <div id="menu" style="height:200px; weight:20px; background-color:red">
            <p>So sanh 2 so hang</p>
        </div>
        <script>
            var chanly;
            if (10 > 5)
                chanly = "Bạn đúng là thiên tài";
            else
                chanly = "you wrong";
            document.getElementById("menu").innerHTML = chanly;
        </script>
    </div>
</body>
</html>
