
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Switch_case</title>
</head>
<body>
    <div>
        <div id="demo"></div>
        <script>
            //Hiển thị ngày hôm nay lên màn hình
            var day;
            switch (new Date().getDay()) {
                case 0:
                    day = "Sunday";
                    break;
                case 1:
                    day = "Monday";
                    break;
                case 2:
                    day = "Tuesday";
                    break;
                case 3:
                    day = "Wednesday";
                    break;
                case 4:
                    day = "Thursday";
                    break;
                case 5:
                    day = "Friday";
                    break;
                case 6:
                    day = "Saturday";
                    break;
                default:
                    day = "Today isn't day, good day";
                    break;
            }
            document.getElementById("demo").innerHTML = "Today is " + day;
        </script>

        <div>
            <h1>Function</h1>
            <input id="myInput" type="text" value="Apple">
            <button onclick="checkFruit()">Check Fruit</button>
            <p id="demo"></p>
            <script>
                function checkFruit() {
                    var text;
                    var fruits = document.getElementById("myInput").value;

                    switch (fruits) {
                        //cases fruits
                        case "Banana":
                            text = "Banana is good!";
                            break;
                        case "Orange":
                            text = "I am not a fan of orange.";
                            break;
                        case "Apple":
                            text = "How you like them apples";
                            break;
                            // add case here

                        default:
                            text = "I have never heard of that fruit.";
                    }
                    document.getElementById("demo").innerHTML = text;
                }
            </script>
        </div>
    </div>
</body>
</html>
